# Objectives
  In this Exercise you will given some basic questions on python library(pandas) which have a vast use in Machine learning and Data science.
  
  
This exercise Aim's:
  - To test your knowledge in the library.
  - Your understanding and ability to effictively apply you knowledge.
  - Provided `Hints` and written cells so if you missed somethings then you can brush it up.
  > Note: If you want to explore more about any function then you just simply need to click the highlighted functions, It will directly take you to the official documantation where you can read more about them.

## Contents
- [ 1 - Packages ](#1)
- [ 2 - Introduction to pandas](#2)
  - [ 2.1 What is Pandas?](#2.1)
  - [ 2.2 Why Use Pandas?](#2.2)
  - [ 2.3  What Can Pandas Do?](#2.3)
- [ 3 - Questions](#3)
  - [ 3.1 Create a pandas column using for loop](#3.1)
  - [ 3.2 Remove Unwanted columns](#3.2)
  - [ 3.3  Print number of unique value in every column](#3.3)

<a name="1"></a>
## 1 - Packages 

First, let's run the cell below to import all the packages that you will need during this assignment.
- [pandas](https://pandas.pydata.org/docs/) is a Python library used for working with data sets.

In [ ]:
# Import all required libraries
import pandas
import numpy

<a name="2"></a>
# 2-Introduction to pandas<img align="left" src="https://geo-python-site.readthedocs.io/en/latest/_images/pandas_logo.png" style=" width:60px;  " >
Pandas is an open-source library in Python that is made mainly for working with relational or labeled data both easily and intuitively. It provides various data structures and operations for manipulating numerical data and time series. This library is built on top of the [numpy](www.numpy.org) library of Python. Pandas is fast and it has high performance & productivity for users.


Prior to Pandas, Python was majorly used for data munging and preparation. It had very little contribution towards data analysis. Pandas solved this problem. Using Pandas, we can accomplish five typical steps in the processing and analysis of data, regardless of the origin of data â€” load, prepare, manipulate, model, and analyze.

Python with Pandas is used in a wide range of fields including academic and commercial domains including finance, economics, Statistics, analytics, etc.
<a name="2.1"></a>
## 2.1-What is pandas?
Pandas is a Python library used for working with data sets.
It has functions for analyzing, cleaning, exploring, and manipulating data.
The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008.
<a name="2.2"></a>
## 2.2 -Why Use Pandas?
Pandas allows us to analyze big data and make conclusions based on statistical theories.
Pandas can clean messy data sets, and make them readable and relevant.
Relevant data is very important in data science.
<a name="2.3"></a>
## 2.3 -What Can Pandas Do?
Pandas gives you answers about the data. Like:
 * Is there a correlation between two or more columns?
 * What is average value?
 * Max value?
 * Min value?
 
Pandas are also able to delete rows that are not relevant, or contains wrong values, like empty or NULL values. This is called cleaning the data.

# 3 -Questions<img align="left" src="" style=" width:40px;  " >

<a name="3.1"></a>
## 3.1 -Create a pandas column using for loop

In [ ]:
# Add a column name pass and fill it with True and False if a student score more than equal to 50 then he/she is pass
# If any student is not allocated any marks then fill their re-Exam
raw_Data = {'Student_name': ['student1', 'student2', 'student3', 'student4', 
                           'student5', 'student6', 'student7', 'student8'], 
            'Student_Marks': [98, 60, 50, 47, np.NaN, 54, 42, np.NaN]}

df = pd.DataFrame(raw_Data, columns = ['Voter_name', 'Voter_age'])
result = []
# Start your code here





# End your code

print(df)

<details>
  <summary><font size="3" color="darkgreen"><b>Hints</b></font></summary>
    
   * Here by applying the following code you will get the desired output
   ```python
   for marks in df['Student_Marks']:       
       if marks >= 50:
           result.append(True)             # Students who passed
       elif marks <50:
           result.append(False)            # Students who didn't passed
       else:
           result.append("re-Exam")        # Students who didn't appear for exam
   df['pass']=result
   ```
</details>

## 3.2 -Remove Unwanted columns

In [ ]:
# Remove the Name, Cabin and PassengerId columns fron the dataset

<details>
  <summary><font size="3" color="darkgreen"><b>Hints</b></font></summary>
       
   * The [`dataframe.drop()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) method removes the specified row or column.
    
       * By specifying the column axis (axis=0), the drop() method removes the specified column.
    
       * By specifying the row axis (axis=0), the drop() method removes the specified row
</details>

## 3.3 -Print number of unique value in every column

In [ ]:
# Print number of unique value in every column

<details>
  <summary><font size="3" color="darkgreen"><b>Hints</b></font></summary>
       
   * This function [`dataframe.nunique()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nunique.html)
    Count number of distinct elements in specified axis.Return Series with number of distinct elements. Can ignore NaN values.
</details>